# Configurações para desenvolvimento local

# MySQL
MYSQL_ROOT_PASSWORD=senha
MYSQL_USER=diario_user
MYSQL_PASSWORD=senha
MYSQL_DB=diario_enxaqueca
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USE_SSL=False
MYSQL_SSL_CA=

# App
SECRET_KEY=senha
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
APP_HOST=0.0.0.0
APP_PORT=8000
AUTH_PORT=8001

# Ambiente
ENVIRONMENT=development
DEBUG=True

# Frontend
VITE_BACKEND_URL=http://localhost:8000/api
VITE_AUTH_URL=http://localhost:8001/api/auth

# Backend local
BACKEND_HOST=http://localhost:8000

# Auth local
AUTH_HOST=http://localhost:8001

# Email
MAIL_USERNAME=email@mail.com
MAIL_PASSWORD=senha
MAIL_FROM=email@mail.com
MAIL_PORT=587
MAIL_SERVER=smtp.mail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False