MYSQL_USER=user
MYSQL_PASSWORD=senha
MYSQL_DB=defaultdb
MYSQL_HOST=mysql-2e80f044-diario-de-enxaqueca.k.aivencloud.com
MYSQL_PORT=24445
MYSQL_USE_SSL=True
MYSQL_SSL_CA=/app/ca.pem

# App
SECRET_KEY=senha
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
APP_HOST=0.0.0.0
APP_PORT=8000
AUTH_PORT=8001

# Ambiente
ENVIRONMENT=production
DEBUG=False

# Frontend
VITE_BACKEND_URL=https://backend-production-f9d7.up.railway.app/api
VITE_AUTH_URL=https://autenticacao-production-00f7.up.railway.app/api/auth

# Backend remoto no Railway
BACKEND_HOST=https://backend-production-f9d7.up.railway.app

# Auth remoto no Railway
AUTH_HOST=https://autenticacao-production-00f7.up.railway.app

# Email
MAIL_USERNAME=email@mail.com
MAIL_PASSWORD=senha
MAIL_FROM=email@mail.com
MAIL_PORT=587
MAIL_SERVER=smtp.mail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False